body {
    margin: 0;
}

.container {
    width: 1030px;
    margin: 0 auto;
    position: relative;
    /*z-index: 4;*/
}

ul {
    list-style: none;
}

h1,
h3,
p,
a,
img {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/** -------START OF HEADER SECTION --------- **/

.header {
    height: 525px;
    background-image: url(images/header.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    -webkit-transition: .2s ease-in;
}

.header::after {
    content: "";
    background-color: blue;
    background-color: rgba(17, 101, 163, .7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.header-logo { /** LEFT SIDE LOGO AND TEXT ALINGMENT **/
    display: inline-block;
    width: 260px;
    font-family: "Open Sans", "sans-serif";
    font-weight: 400;
    font-size: 1.3em;
    text-transform: uppercase;
    vertical-align: middle;
}

.header-logo p { /** LEFT SIDE TEXT **/
    width: 120%;
    color: #0B3450;
    font-size: 95%;
    letter-spacing: -1px;
    margin-top: 20px;
}

.header-logo img { /** LEFT SIDE LOGO  **/
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.header-pages { /** RIGHTSIDE ABOUT & SEARCH **/
    float: right;
    font-family: "Oswald", "sans-serif";
    font-size: 120%;
    text-transform: uppercase;
    color: #0B3450;
    margin-right: 12px;
}

.header-pages a { /** RIGHTSIDE ALIGNMENT **/
    display: inline-block;
    margin-top: 18px;
    margin-right: 15px;
}

.header-img { /** MAIN HEADER **/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    height: 525px;
    z-index: 3;
}

.header-title { /** MAIN HEADER TEXT **/
    margin-top: 1em;
    margin-bottom: 0;
    font-family: "Open Sans", "Helvetica", "sans-serif";
    font-weight: 400;
    font-size: 795%;
    text-transform: uppercase;
    color: #fff;
}

.header-p { /** MAIN HEADER IRONYARD TEXT **/
    font-family: "Open Sans", "Helvetica", "sans-serif";
    font-size: 110%;
    color: #0B3450;
    margin-top: -15px;
}

.header-top {
    position: relative;
    z-index: 2;
}

/*** ---- END OF HEADER SECTION ----- ***/

/** --- START OF BLOG SECTION ---- ***/

.main-body { /** MAIN BLOG BODY **/
    width: 620px;
    display: inline-block;
    vertical-align: top;
    margin: 0 27px 0 27px;
}

.blog-title {
    margin-top: 60px;
    margin-bottom: 20px;
}

.blog-title p {
    font-size: 400%;
    font-family: "Oswald", "Helvtica", "sans-serif";
    text-transform: uppercase;
    color: #0B3452;
}

.blog-author { /** AUTHOR INFO **/
    margin-top: 12px;
    margin-left: 5px;
    color: #A6B6C1;
    font-family: "Open Sans", "Helvetica", "sans-serif";
    font-weight: 400;
    font-size: 90%;
}

.name {
    margin-right: 10px;
    margin-left: 10px;
}

time {
    text-decoration: underline;
}

.blog-body {
    display: inline-block;
    font-family: "Open Sans", "Helvetica", "sans-serif";
    font-weight: 400;
    font-size: 100%;
    line-height: 190%;
}

.p-1 { /** PARAGRAPHS **/
    display: inline-block;
    font-family: "Open Sans", "Helvetica", "sans-serif";
    font-weight: 400;
    font-size: 110%;
    line-height: 170%;
    margin-top: 15px;
}

.p-2 { /** PARAGRAPHS **/
    display: inline-block;
    font-family: "Open Sans", "Helvetica", "sans-serif";
    font-weight: 400;
    font-size: 110%;
    line-height: 170%;
    margin-top: 25px;
}

.blog-body h1 { /** WHOA TEXT **/
    color: #196EB0;
    text-transform: uppercase;
    font-size: 190%;
    border-left: solid 1px #D3D3D3;
    margin: 23px 0 23px 5px;
    padding: 15px 0 15px 20px
}

.p-3 { /** PARAGRAPHS **/
    display: inline-block;
    font-family: "Open Sans", "Helvetica", "sans-serif";
    font-weight: 400;
    font-size: 110%;
    line-height: 170%;
}

.p-4 { /** PARAGRAPHS **/
    display: inline-block;
    font-family: "Open Sans", "Helvetica", "sans-serif";
    font-weight: 400;
    font-size: 110%;
    line-height: 170%;
    margin-top: 25px;
}

.blog-author-img {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-image: url(images/small-me-1.jpg);
    background-size: 25px 25px;
    border-radius: 50%;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.blog-author-img::after {
    content: "";
    border-radius: 50%;
    background-color: blue;
    background-color: rgba(17, 101, 163, .3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.blog-author-img:hover::after {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-size: 25px 25px;
    border-radius: 50%;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}



/*** ---- START OF BLOG ACTION ----- ***/


.blog-actions {
    display: inline-flex;
    margin-top: 20px;
    margin-left: 5px;
}

.comments {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    background-color: #196EB0;
    -webkit-transition: all .2s ease-in;
}

.comments:hover {
    background-color: #A3B3BE;
}

.comments::after:hover {
    background-color: #196EB0;
}

.comments-icon {
    display: inline-block;
    width: 27px;
    height: 27px;
    background-color: #5E686F;
    vertical-align: top;
}

.comments img {
    margin: 0;
    position: relative;
    top: 1px;
    left: 1px;
}

.read-later {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    background-color: #196EB0;
    -webkit-transition: all .2s ease-in;
}

.read-later:hover {
    background-color: #A3B3BE;
}

.read-later::after:hover {
    background-color: #196EB0;
}

.read-icon {
    display: inline-block;
    width: 27px;
    height: 27px;
    background-color: #5E686f;
    vertical-align: top;
}

.read-later img {
    margin: 0;
    position: relative;
    top: 3px;
    left: -0.5px;
}

.share {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    background-color: #196EB0;
    -webkit-transition: all .2s ease-in;
}

.share:hover {
    background-color: #A3B3BE;
}

.share:hover::after {
    background-color: #196EB0;
}

.share-icon {
    display: inline-block;
    width: 27px;
    height: 27px;
    background-color: #5E686f;
    vertical-align: top;
}

.share img {
    margin: 0;
    position: relative;
    top: 1.5px;
    left: -2px;
}

.actions-p {
    display: inline-block;
    vertical-align: middle;
    font-family: "Open Sans", "Helvetica", "sans-serif";
    font-size: 100%;
    margin: 3px 10px 0 6px;
}

.blog-actions a {
    display: inline-block;
}

/*** -------- END MAIN BLOG AREA ---------------- ***/

/*** ------- START OF RIGHTSIDE BAR -------- ***/

.sidebar {
    width: 278px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0 0 0 47px;
    padding-top: 80px;
}

.profile-social {
    text-align: center;
    font-family: "Open Sans", "Helvetica", "sans-serif";
    color: #A6B6C1;
    font-size: 110%;
}

.profile-img {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    background-image: url(images/big-me-1.jpg);
    background-size: 84px 84px;
    margin: 0 auto;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.profile-img::after {
    content: "";
    background-color: blue;
    background-color: rgba(17, 101, 163, .3);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.profile-img:hover::after {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    background-size: 84px 84px;
    margin: 0 auto;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.profile-social p {
    color: #1570B4;
    text-transform: uppercase;
    margin: 12px 0 5px 0;
}

.profile-social ul {
    display: flex;
    padding: 0;
    width: 70%;
    margin: 0 auto;
    font-family: "Open Sans", "Helvetica", "sans-serif";
    font-size: 85%;
}

.profile-social ul li {
    float: left;
    margin-right: 1%;
    margin-left: 1%;
}

.divider {
    color: ##A8B6C1;
}

.adv {
    clear: both;
    display: inline-block;
    text-align: center;
    margin-top: 45px;
}

.ad-img {
    display: inline-block;
    height: 300px;
    width: 278px;
    background-image: url(images/ad-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}

.ad-img::after {
    content: "";
    background-color: blue;
    background-color: rgba(17, 101, 163, .7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.adv a {
    display: block;
    text-align: right;
    margin: 3px 0 0 0;
    font-family: "Open Sans", "Helvetica", "sans-serif";
    font-size: 90%;
    text-decoration: underline;
    color: #A6B6C1;
}

.sidebar-section {
    text-align: left;
    color: #A6B6C1;
    font-family: "Oswald", "Helvtica", "sans-serif";
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 45px;
    font-size: 110%;
}

.sidebar-section h3 {
    color: #1570B4;
}

.sidebar-section p {
    font-family: "Open Sans", "Helvetica", "sans-serif";
    font-weight: 400;
    font-size: 90%;
    line-height: 181%;
    text-transform: none;
    margin-top: 0;
}

/**** ------- END OF RIGHTSIDE BAR ------- ***/

/*** ----- START OF FOOTER SECTION ----------- ***/

.titles p {
    text-align: center;
    border-top: solid 2px #E1E7EA;
    margin-top: 70px;
    margin-bottom: 40px;
    padding-top: 35px;
    text-transform: uppercase;
    font-size: 380%;
    font-family: "Oswald", "Helvtica", "sans-serif";
    color: #0B3452;
}

.footer-post-sect-01 {
    display: inline-block;
    width: 25%;
    margin-right: -4px;
    height: 330px;
    vertical-align: bottom;
    background-image: url(images/footer-pic1.jpg);
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.footer-post-sect-02 {
    display: inline-block;
    width: 25%;
    margin-right: -4px;
    height: 330px;
    vertical-align: bottom;
    background-image: url(images/footer-pic2.jpg);
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.footer-post-sect-03 {
    display: inline-block;
    width: 25%;
    margin-right: -4px;
    height: 330px;
    vertical-align: bottom;
    background-image: url(images/footer-pic3.jpg);
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.footer-post-sect-04 {
    display: inline-block;
    width: 25%;
    margin-right: -4px;
    height: 330px;
    vertical-align: bottom;
    background-image: url(images/footer-pic4.jpg);
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.footer-post {
    color: #0B3451;
}

.p-sect-01 {
    display: inline-block;
    font-family: "Oswald", "Helvetica", "sans-serif";
    font-weight: 400;
    /*color: #0B3451;*/
    color: #FFF;
    text-transform: uppercase;
    font-size: 2.2em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    margin: 0;
    padding-left: 15px;
    padding-top: 277px;
}

.p-sect-02 {
    display: inline-block;
    font-family: "Oswald", "Helvetica", "sans-serif";
    font-weight: 400;
    /*color: #0B3451;*/
    color: #FFF;
    text-transform: uppercase;
    font-size: 2.2em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    margin: 0;
    padding-left: 15px;
    padding-top: 277px;
}

.p-sect-03 {
    display: inline-block;
    font-family: "Oswald", "Helvetica", "sans-serif";
    font-weight: 400;
    /*color: #0B3451;*/
    color: #FFF;
    text-transform: uppercase;
    font-size: 2.0em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    margin: 0;
    padding-left: 15px;
    padding-top: 240px;
}

.p-sect-04 {
    display: inline-block;
    font-family: "Oswald", "Helvetica", "sans-serif";
    font-weight: 400;
    /*color: #0B3451;*/
    color: #FFF;
    text-transform: uppercase;
    font-size: 2.2em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    margin: 0;
    padding-left: 15px;
    padding-top: 277px;
}

.p-sect-01:hover,
.p-sect-02:hover,
.p-sect-03:hover,
.p-sect-04:hover {
    color: #FFF;
    -webkit-transition: all .2s ease-in;
    background-color: blue;
    background-color: rgba(17, 101, 163, .7);
}

.footer-post-sect-01 {
    display: inline-block;
    width: 25%;
    margin-right: -4px;
    height: 330px;
    vertical-align: bottom;
    background-image: url(images/footer-pic1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.footer-post-sect-02 {
    display: inline-block;
    width: 25%;
    margin-right: -4px;
    height: 330px;
    vertical-align: bottom;
    background-image: url(images/footer-pic2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.footer-post-sect-03 {
    display: inline-block;
    width: 25%;
    margin-right: -4px;
    height: 330px;
    vertical-align: bottom;
    background-image: url(images/footer-pic3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.footer-post-sect-04 {
    display: inline-block;
    width: 25%;
    margin-right: -4px;
    height: 330px;
    vertical-align: bottom;
    background-image: url(images/footer-pic4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.footer-post-sect-01:hover::after,
.footer-post-sect-02:hover::after,
.footer-post-sect-03:hover::after,
.footer-post-sect-04:hover::after {
    background: none;
    -webkit-transition: all .2s ease-in;
}

.footer-bottom {
    background-color: #0B3451;
    padding: 15px 0 0 25px;
    height: 90px;
}

.ironyard {
    display: inline-block;
    vertical-align: middle;
}

.ironyard img {
    vertical-align: middle;
}

.ironyard p {
    display: inline-block;
    vertical-align: middle;
    font-family: "Open Sans", "sans-serif";
    font-size: 0.97em;
    color: #A3B3BE;
    margin-left: 5px;
}

.navitems {
    display: inline-block;
    position: inherit;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    float: right;
    margin-top: 10px;
    padding-right: 30px;
    font-family: "Open Sans", "sans-serif";
    font-size: 89%;
    color: #A3B3BE;
}

.navitems ul li {
    float: left;
    margin-right: 10px;
}

/***** ------- END OF FOOTER SECTION ---------- ***/
